<template>
  <div id="smootherInteraction">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    data() {
      return {};
    },
    methods: {},
    mounted() {
    }
  };
</script>

<style scoped>
  #smootherInteraction {

  }
</style>
