<template>
  <div id="bezelInput" class="full-height center-content text-overflow" @click="onBezel(BEZEL_DIRECTION.CCW)"
       @contextmenu.prevent="onBezel(BEZEL_DIRECTION.CW)">
    <div class="center-content__content-wrapper__both text-center">
      <div class="hide" :class="{show:(triggeredId!==-1)}">{{triggeredId !== -1 ? triggeredId : ' '}}</div>
      <div class="code">{{currentCode.toString()}}</div>
    </div>

    <div class="reset" @click.stop="reset"></div>
  </div>
</template>

<script>
  import BezelStationsCodeProvider from '../DemoApp_Mk_II/js/BezelStationsCodeProvider';
  import BezelCode, { BezelCodeDirection, BezelCodePart } from '../DemoApp_Mk_II/js/BezelCode';
  import BezelStationCodePair from '../DemoApp_Mk_II/js/BezelStationCodePair';

  const codePairs = require('./json/codes.json');

  const BEZEL_DIRECTION = {
    // Use of symbols doesn't work here because the string is needed
    CCW: 'CCW',
    CW: 'CW'
  };
  export default {
    data() {
      return {
        currentDirTicksCounter: 0,
        lastDir: BezelCodeDirection.NONE,
        triggeredId: -1,
        bezelCodeProvider: null,
        currentCode: new BezelCode(),
        BEZEL_DIRECTION
      };
    },
    methods: {
      onTizenAvaliable() {
        document.addEventListener('rotarydetent', (evt) => {
            this.onBezel(evt.detail.direction);
          }, false
        );
      },
      onBezel(direction) {
        let bezelCodeDirection = BezelCodeDirection.NONE;
        switch (direction) {
          case 'CCW':
            bezelCodeDirection = BezelCodeDirection.CCW;
            break;
          case 'CW':
            bezelCodeDirection = BezelCodeDirection.CW;
            break;
          default:
            bezelCodeDirection = BezelCodeDirection.NONE;
            break;
        }

        if (bezelCodeDirection !== BezelCodeDirection.NONE) {
          this.fireBezelTick(bezelCodeDirection);
        }
      },
      fireBezelTick(dir) {
        if (this.bezelCodeProvider.hasOneMatchingId(true)) {
          // Reset state if current Code matches a Code of a BezelCodePair
          this.reset();
          return;
        }

        if (dir !== this.lastDir) {
          if (this.currentCode.getLength() + 1 > this.bezelCodeProvider.getMaxCodeLength()) {
            // Reset if current Code would be longer than the maximum Code length
            this.reset();
            return;
          }

          this.onBezelTickDirectionSwitched(
            this.lastDir,
            this.currentDirTicksCounter,
            dir
          );
        }

        this.onBezelTick(dir);

        this.currentDirTicksCounter += 1;
        this.lastDir = dir;
      },
      onBezelTick(dir) {
        this.currentCode.incrementLastPart();
        this.bezelCodeProvider.setBezelInput(this.currentCode);
        this.partiallyMatchingCodes = this.bezelCodeProvider.getMatchingIds();
        this.matchingCodes = this.bezelCodeProvider.getFullyMatchingIds();
        if (this.bezelCodeProvider.hasOneMatchingId(true)) {
          this.onSingleMatchingId(this.bezelCodeProvider.getSingleMatchingId());
        }
      },
      onBezelTickDirectionSwitched(oldDir, ticksCount, newDir) {
        this.currentCode.addCodePart(new BezelCodePart(newDir, 0));
      },
      onSingleMatchingId(id) {
        this.triggeredId = id;
      },
      reset() {
        this.currentCode = new BezelCode();
        this.bezelCodeProvider.setBezelInput(this.currentCode);
        this.bezelCodeProvider.reset();
        this.triggeredId = -1;
        this.lastDir = '';
        this.currentDirTicksCounter = 0;
      }
    },
    mounted() {
      if (window.tizen) {
        console.log('Tizen available');
        this.onTizenAvaliable();
      } else {
        console.log('Unfortunately Tizen is not available.');
      }

      this.bezelCodeProvider = new BezelStationsCodeProvider();

      const codesArr = codePairs.content.pairs;
      this.codesCount = codesArr.length;
      const parsedCodesArr = codesArr.map(x =>
        BezelStationCodePair.parseRawJsonObject(x)
      );

      this.bezelCodeProvider.setCodePairs(parsedCodesArr);
    }
  }
  ;
</script>

<style lang="scss" scoped>
  #bezelInput {
    color: white;
    text-shadow: 0 0 1px white, 0 0 5px rgba(255, 255, 255, 0.5);
  }

  .reset {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: orangered;
  }

  .code {
    font-size: 15px;
  }

  .hide {
    opacity: 0;
    transition: opacity 1s;
  }

  .show {
    opacity: 1;
    transition: opacity 1s;
  }
</style>
