<template>
  <div id="bezelInput" class="full-height light-green center-content" @click="onBezel('CCW')">
    <div class="center-content__content-wrapper__both">
      <h1>Bezel rotations</h1>
      <div class="bezel-rotations-count text-center">
        CCW: {{bezelRotations[0]}}, CW: {{bezelRotations[1]}}, Sum: {{bezelRotations[0] + bezelRotations[1]}}
      </div>
    </div>
  </div>
</template>

<script>
  const BEZEL_DIRECTION = {
    // Use of symbols doesn't work here because the string is needed
    CCW: 'CCW',
    CW: 'CW'
  };
  export default {
    data() {
      return {
        bezelRotations: [0, 0] // 0: CCW, 1: CW
      };
    },
    methods: {
      onTizenAvaliable() {
        document.addEventListener('rotarydetent', (evt) => {
            this.onBezel(evt.detail.direction);
          }, false
        );
      },
      onBezel(direction) {
        console.log(direction);
        let index = -1;
        switch (direction) {
          default:
            index = -1;
            break;
          case BEZEL_DIRECTION.CCW:
            index = 0;
            break;
          case BEZEL_DIRECTION.CW:
            index = 1;
        }

        if (index !== -1) {
          // Source: https://vuejs.org/2016/02/06/common-gotchas/
          this.$set(this.bezelRotations, index, this.bezelRotations[index] + 1);
        }
      }
    },
    mounted() {
      if (window.tizen) {
        console.log('Tizen available');
        this.onTizenAvaliable();
      } else {
        console.log('Unfortunately Tizen is not available.');
      }
    }
  }
  ;
</script>

<style lang="scss" scoped>
  #bezelInput{
    color:black;
  }
  .bezel-rotations-count {
    padding: 5px;
    background: white;
    border-radius: 10px;
    font-size: 15px;
    /*box-shadow: inset 0px 0px 10px 1px black;*/
  }
</style>
