<template>
  <div id="splashscreen" class="full-height center-content">
    <div class="center-content__content-wrapper__both">
      <div>Backend 3000</div>
      <p>Import: {{importSucceeded}}</p>
    </div>
  </div>
</template>

<script>
  import HttpClient from '../../js/helpers/HttpClient';

  export default {
    data() {
      return {
        importSucceeded: false
      };
    },
    methods: {
      onBackHwKey() {
        new Promise((resolve, reject) => {
          resolve();
        }).then(() => {
          console.log('Resolved!!');
        }).catch(() => {
          console.log('Rejected!');
        });

        HttpClient.getAsJson('static/_json/stations/stations.json')
                  .then((response) => {
                    this.importSucceeded = true;
                    console.log(response);
                  })
                  .catch((e) => {
                    throw new Error(e);
                  });
      }
    },
    mounted() {
      console.log('Mounted!');
      this.onBackHwKey();

      document.addEventListener('tizenhwkey', (evt) => {
        if (evt.keyName === 'back') {
          console.log('Pressed back hardware key.');
          this.onBackHwKey();
          evt.stopPropagation();
          evt.preventDefault();
        }
      });
    }
  };
</script>

<style scoped>
  #splashscreen {

  }
</style>
