<template>
  <div class="hello">
    <h1 v-html="msg"></h1>
    <div>
      <button @click="highlightAnchor">Button</button>
    </div>
    <a href="http://www.google.de" target="_blank" :class="{highlight:highlight}">Go to Google...</a>
  </div>
</template>

<script>
  export default {
    name: 'HelloWorld',
    data() {
      return {
        msg: 'Hello world...<br>and welcome to Your Vue.js App',
        highlight: false,
        highlightTimeout: null
      };
    },
    methods: {
      highlightAnchor() {
        if (this.highlightTimeout) {
          clearTimeout(this.highlightTimeout);
        }

        this.highlight = true;
        this.highlightTimeout = setTimeout(() => {
          this.highlight = false;
        }, 2000);
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import '../scss/colors';

  .hello {
    height: 100%;

    color: $color1;
    background: $color1;

    text-align: center;

    // Nested selectors
    h1 {
      color: $color2;
    }

    button {
      margin: 0.67em 0;

      color: $color1;
      background: $color2;

      border-radius: 5px;
      outline: none;
    }

    a {
      display: inline-block;
      margin: 0.67em 0;

      color: $color2;

      text-decoration: inherit;

      transition:all 1s;
    }

    a.highlight {
      padding:3px;
      color: $color1;
      background: $color2;
    }
  }
</style>
