<template>
  <div id="smartwatch-emulator" class="full-height">
    <div class="full-height"
         :class="{'flex-center horizontal vertical beautiful-background':!fullscreen, '':fullscreen}">
      <div :class="{'screen border flex-center horizontal vertical':!fullscreen, 'full-height':fullscreen}">
        <div class="screen" :class="{'fullscreen':fullscreen}">
          <div :class="{'wrapper':!fullscreen, 'full-height':fullscreen}">
            <div class="full-height">
            <slot></slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        fullscreen: true
      };
    },
    methods: {
      toggleFullscreen() {
        this.fullscreen = !this.fullscreen;
      }
    },
    mounted() {
      console.log('Mounted: SmartwatchEmulator');
      console.log(navigator.userAgent);
      if (navigator.userAgent.indexOf('Tizen') < 0) {
        this.fullscreen = false;
      }
    }
  }
  ;
</script>

<style scoped>
  #smartwatch-emulator {
    pointer-events: none;
  }

  .full-height {
    height: 100%;
  }

  .flex-center {
    display: flex;
  }

  .flex-center.horizontal {
    justify-content: center;
  }

  .flex-center.vertical {
    align-items: center;
  }

  .beautiful-background {
    background: radial-gradient(ellipse at center, #606c88 0%, #3f4c6b 100%);
  }

  .screen {
    width: 360px;
    height: 360px;
    min-width: 360px;
    min-height: 360px;
    clip-path: circle(50% at center);
    overflow: hidden;
    background: black;
    color: white;
  }

  .screen.fullscreen {
    width: 100%;
    height: 100%;
  }

  .screen.border {
    width: 385px;
    height: 385px;
    background: #304352;
    background: -webkit-linear-gradient(to top, #304352, #d7d2cc);
    background: linear-gradient(to top, #304352, #d7d2cc);
    padding: 0;
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    pointer-events: auto;

  }
</style>
