<template>
    <div id="confirm">

    </div>
</template>

<script>
  export default {
    data() {
      return {};
    },
    methods: {},
    mounted() {
    },
  };
</script>

<style scoped>
    #confirm {

    }
</style>
