<template>
  <div class="view-bezel-input full-height" @click="onBezel(BEZEL_DIRECTION.CCW)"
       @contextmenu.prevent="onBezel(BEZEL_DIRECTION.CW)">
    <div class="wrapper">
      <div>
        <div class="center-content full-height">
          <div class="code-wrapper center-content__content-wrapper__vertically">
            <div class="center-margin">
              <div class="code-part" v-for="(codePart, index) in currentCode.getCodeParts()">
                <!--:class="{'code-part__verified':(index<currentCode.getCodeParts().length-1), 'code-part__checking':(index===currentCode.getCodeParts().length-1)}"-->
                {{codePart.toString()}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reset" @click.stop="onResetButton">
        <div class="center-content full-height">
          <div v-if="currentCode.getLength()>0" class="center-content__content-wrapper__both">RESET</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BezelStationsCodeProvider from '../../js/BezelStationsCodeProvider';
  import BezelCode, { BezelCodeDirection, BezelCodePart } from '../../js/BezelCode';
  import BezelStationCodePair from '../../js/BezelStationCodePair';

  const codePairs = require('../../../Bezel/json/codes.json');

  const BEZEL_DIRECTION = {
    // Use of symbols doesn't work here because the string is needed
    CCW: 'CCW',
    CW: 'CW'
  };
  export default {
    data() {
      return {
        currentDirTicksCounter: 0,
        lastDir: BezelCodeDirection.NONE,
        triggeredId: -1,
        bezelCodeProvider: null,
        currentCode: new BezelCode(),
        BEZEL_DIRECTION
      };
    },
    methods: {
      onResetButton() {
        this.reset();
      },
      onTizenAvaliable() {
        document.addEventListener('rotarydetent', (evt) => {
            this.onBezel(evt.detail.direction);
          }, false
        );
      },
      onBezel(direction) {
        if (window.tizen) {
          navigator.vibrate([50]);
        }
        let bezelCodeDirection = BezelCodeDirection.NONE;
        switch (direction) {
          case 'CCW':
            bezelCodeDirection = BezelCodeDirection.CCW;
            break;
          case 'CW':
            bezelCodeDirection = BezelCodeDirection.CW;
            break;
          default:
            bezelCodeDirection = BezelCodeDirection.NONE;
            break;
        }

        if (bezelCodeDirection !== BezelCodeDirection.NONE) {
          this.fireBezelTick(bezelCodeDirection);
        }
      },
      fireBezelTick(dir) {
        if (this.bezelCodeProvider.hasOneMatchingId(true)) {
          // Reset state if current Code matches a Code of a BezelCodePair
          this.reset();
          return;
        }

        if (!this.currentCode.hasCodeParts() || dir !== this.currentCode.getLatestCodePart().dir) {
          if (this.currentCode.getLength() + 1 > this.bezelCodeProvider.getMaxCodeLength()) {
            // Reset if current Code would be longer than the maximum Code length
            this.reset();
            return;
          }

          this.onBezelTickDirectionSwitched(
            this.lastDir,
            this.currentDirTicksCounter,
            dir
          );
        }

        this.onBezelTick(dir);

        if (!this.bezelCodeProvider.hasMatchingIds()) {
          // Reset if current Code would be longer than the maximum Code length
          this.reset();
          return;
        }

        this.currentDirTicksCounter += 1;
        this.lastDir = dir;
      },
      onBezelTick(dir) {
        this.currentCode.incrementLastPart();
        this.bezelCodeProvider.setBezelInput(this.currentCode);
        this.partiallyMatchingCodes = this.bezelCodeProvider.getMatchingIds();
        this.matchingCodes = this.bezelCodeProvider.getFullyMatchingIds();
        if (this.bezelCodeProvider.hasOneMatchingId(true)) {
          this.onSingleMatchingId(this.bezelCodeProvider.getSingleMatchingId());
        }
      },
      onBezelTickDirectionSwitched(oldDir, ticksCount, newDir) {
        this.currentCode.addCodePart(new BezelCodePart(newDir, 0));
      },
      onSingleMatchingId(id) {
        this.triggeredId = id;
        this.$router.replace(`/artefact/${id}`);
      },
      reset() {
        this.currentCode = new BezelCode();
        this.bezelCodeProvider.setBezelInput(this.currentCode);
        this.bezelCodeProvider.reset();
        this.triggeredId = -1;
        this.lastDir = '';
        this.currentDirTicksCounter = 0;
      }
    },
    mounted() {
      if (window.tizen) {
        console.log('Tizen available');
        this.onTizenAvaliable();
      } else {
        console.log('Unfortunately Tizen is not available.');
      }

      this.bezelCodeProvider = new BezelStationsCodeProvider();

      const codesArr = codePairs.content.pairs;
      this.codesCount = codesArr.length;
      const parsedCodesArr = codesArr.map(x =>
        BezelStationCodePair.parseRawJsonObject(x)
      );

      this.bezelCodeProvider.setCodePairs(parsedCodesArr);
    }
  };
</script>

<style lang="scss" scoped>
  .wrapper {
    display: table;
    width: 100%;
    height: 100%;

    > * {
      display: table-row;

      &:after {
        content: "";
      }
    }
  }

  .center-margin {
    display: table;
    margin: 0 auto;
  }

  .view-bezel-input {
    background: black;
    color: white;
  }

  .reset {
    width: 100%;
    height: 75px;
  }

  .code-wrapper {
    width: 100%;
  }

  .code-part {
    display: inline-block;
    padding: 5px 15px;
    background: white;
    color: black;
    margin: 5px;
    border-radius: 2.5px;
    text-align: center;
    font-size: 30px;
  }

  .code-part__verified {
    background: #4caf50;
  }

  .code-part__denied {
    background: #f44336;
  }

  .code-part__checking {
    background: #ff9800;
  }
</style>
