<template>
  <div class="smartwatch-emulator">
    <div class="full-height">
      <div class="center both">
        <div class="device">
          <div class="button" ref="back-button"></div>
          <div class="button button2" ref="menu-button"></div>
          <div id="screen-border" class="screen border">
            <div id="screen" class="screen center both">
              <div id="wrapper" ref="screen">
                <slot></slot>
              </div>
            </div>
          </div>
          <div class="safari-warn-message" v-if="!isChrome">This page is optimized for Google Chrome.<br>
            Other browser could render some functions unusable or not as intended.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isChrome: true
      };
    },
    methods: {
      isChromeBrowser() {
        return !!window.chrome && !!window.chrome.webstore;
      }
    },
    created() {
      this.isChrome = this.isChromeBrowser();
    },
    mounted() {
      //TouchEmulator(this.$refs.screen);

      this.$refs['back-button'].addEventListener('mousedown', () => {
        console.log('back button pressed');
      });

      this.$refs['menu-button'].addEventListener('mousedown', () => {
        console.log('menu button pressed');
      });
    }
  };
</script>

<style scoped>
  #smartwatch-emulator {
    pointer-events: none;
  }

  .full-height {
    height: 100%;
  }

  .flex-center {
    display: flex;
  }

  .flex-center.horizontal {
    justify-content: center;
  }

  .flex-center.vertical {
    align-items: center;
  }

  .beautiful-background {
    background: radial-gradient(ellipse at center, #606c88 0%, #3f4c6b 100%);
  }

  .screen {
    width: 360px;
    height: 360px;
    min-width: 360px;
    min-height: 360px;
    clip-path: circle(50% at center);
    overflow: hidden;
    background: black;
    color: white;
  }

  .screen.fullscreen {
    width: 100%;
    height: 100%;
  }

  .screen.border {
    width: 385px;
    height: 385px;
    background: #304352;
    background: -webkit-linear-gradient(to top, #304352, #d7d2cc);
    background: linear-gradient(to top, #304352, #d7d2cc);
    padding: 0;
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    pointer-events: auto;

  }
</style>
