<template>
  <div id="viewContainer" class="full-height">
    <div class="full-height" v-if="view">
      <transition name="transitionName">
        <!-- Only for ViewMixins, Ensure in setView Method -->
        <component is="view" class="full-height" ref="view" :container="_container"></component>
      </transition>
    </div>
    <div class="full-height" v-else>
      <!-- Show someehting default, maybe black? -->
    </div>
  </div>
</template>

<script>
  import { isView } from '@/mixins/ViewMixin';

  export default {
    props: ['container'],
    data() {
      return {
        transitionName: 'none',
        view: null
      };
    },
    methods: {
      getTransition() {
        return this.transitionName;
      },
      setTransition(name) {
        // TODO: Make Transition a own class and fully parameterizable (name, duration, ...)
        this.transitionName = name;
      },
      getView() {
        return this.view;
      },
      setView(view) {
        if (isView(view)) {
          this.view = view;
        }
      }
    },
    mounted() {
    }
  };
</script>

<style scoped>
  #viewContainer {

  }
</style>
