<template>
  <div id="unewatchOS" class="center-content text-center">
    <div class="center-content__content-wrapper__both text-overflow">
      <div class="os-name">Unewatch</div>
      <div class="version-no">2.81</div>
    </div>
    <div id="loader" style="" ref="loader">
    </div>
  </div>
</template>

<script>
  import ProgressBar from 'progressbar.js';
  import math from 'mathjs';
  import { tween, easing, css } from 'popmotion';

  import ViewMixin from '../../mixins/ViewMixin';

  import colors from '../../../../scss/colors.scss';

  export default {
    //mixins: [ViewMixin],
    data() {
      return {
        loader: null,
        loaderRotation:null,
        fakeLoadingTimeout: null
      };
    },
    methods: {
      startLoader() {
        this.loader.set(0);
        this.onFakeLoadingTimeout();
        const loader = css(this.$refs.loader);
        this.loaderRotation = tween({
          to: 360,
          duration: 5000,
          ease: easing.easeInOut,
          loop: Infinity,
          onUpdate(x) {
            loader.set('rotate', x);
          }
        });
        this.loaderRotation.start();
      },
      onFakeLoadingTimeout() {
        let newValue = this.loader.value() + math.random(0.01, 0.5);
        newValue = newValue > 1 ? 1.0 : newValue;
        this.loader.animate(newValue);
        if (newValue < 1.0) {
          setTimeout(() => {
            this.onFakeLoadingTimeout();
          }, math.random(0, 1000));
        }
      },
      openSetup() {
        //console.log(this.container.getRouteController());
        //this.container.getRouteController().requestRouteChange('setup');
        //this.$router.replace({ name: 'DemoApp_Setup' });
      }
    },
    mounted() {
      console.log('Mounted: UnewatchOS');

      this.loader = new ProgressBar.Circle('#loader', {
        color: colors.defaultPrimaryColor,
        trailColor: colors.defaultSecondaryColor,
        strokeWidth: 5,
        trailWidth: 5,
        duration: 2000,
        step: (state, circle) => {
          if (circle.value() === 1) {
            console.log('Finished.');
            this.loaderRotation.stop();
            this.openSetup();
          }
        }
      });

      this.startLoader();
    },
    beforeDestroy() {
      this.loader.destroy();
    }
  };
</script>

<style land="scss" scoped>
  @import '../../../../scss/helpers.scss';
  .os-name {
    font-weight: bold;
  }

  .version-no {
    font-size: 25px;
  }
</style>
