<template>
  <div class=" full-height full-w bg">
    <div class="center-content__content-wrapper__both languages-list">
      <div @click="setLanguage(LANGUAGE_CODE.DE)">Deutsch</div>
      <div @click="setLanguage(LANGUAGE_CODE.EN)">English</div>
      <div @click="setLanguage(LANGUAGE_CODE.DA)">Dansk</div>
    </div>
  </div>
</template>

<script>
  import { LANGUAGE_CODE } from '../../js/Constants';

  export default {
    props: ['appController'],
    data() {
      return {
        LANGUAGE_CODE
      };
    },
    methods: {
      setLanguage(languageCode) {
        this.appController._languageCode = languageCode;
        this.$emit('view-message', { view: 'Setup', message: 'language-set' });
      }
    },
    mounted() {
    }
  };
</script>

<style lang="scss" scoped>
  @import '../../scss/helpers';
  @import '../../scss/colors';

  .bg {
    background: $default_secondary_color;
  }

  .languages-list {
    > * {
      color: $default_primary_color;
      text-align: center;
      padding: 15px;
      border-bottom: 1px solid white;


    }
    :last-child{
      border-bottom: none;
    }
  }
</style>
