<template>
  <div id="bezel-test" class="full-height">
      <router-view></router-view>
  </div>
</template>

<script>
  import SmartwatchEmulator from '../../../components/SmartwatchEmulator';

  export default {
    components: { SmartwatchEmulator }
  };
</script>

<style scoped>
  #bezel-test {

  }
</style>
