<template>
  <div id="artefact" class="full-height">
    <div class="center-content__content-wrapper__both">
      <div id="wormhole" class="wormhole" ref="wormhole"></div>
    </div>
  </div>
</template>

<script>
  import anime from 'animejs';
  import AudioPlayer from '../../js/media/AudioPlayer';

  export default {
    props: ['compositeKey', 'appController'],
    data() {
      return {
        audio: null,
        wormholeAnim: null
      };
    },
    methods: {
      generateJitter() {
        const jitterCount = 1000;
        const jitterArr = [];
        let currentValue = 0;
        const step = 1 / jitterCount;

        //jitterArr.push(currentValue);
        for (let i = 0; i < jitterCount; i += 1) {
          const shouldJitter = anime.random(0, 1) < 0.5;
          let jitter = 0;
          let direction = 0;
          if (shouldJitter) {
            jitter = anime.random(0, 1) / 100;
            direction = anime.random(0, 1) < 0.5 ? -1 : 1;
          }

          jitterArr.push(0.5 + (jitter * direction));
          currentValue += step;
        }

        //jitterArr.push(1);
        console.log(jitterArr);
        return jitterArr;
      },
      startWormhole(duration) {
        // TODO: Grow to half size
        // Jitter
        const wormholeEl = this.$refs.wormhole;
        this.wormholeAnim = anime({
          targets: wormholeEl,
          scale: this.generateJitter(), //[0, 1],
          // width: [0, 362],
          // height: [0, 362],
          duration,
          easing: 'easeInCirc',
          update(anim) {
            // const progress = anim.progress;
            const currentScaleValue = anim.animations[0].currentValue;
            const blur = 40 - (35 * (currentScaleValue));
            wormholeEl.style.boxShadow = `0 0 ${blur}px white`;
          },
          complete() {
            // TODO: Shrink to 0
            // TODO: Add converting process animation and return to Standby after that
          }
        });

      },
      onAsyncReady() {
        this.audio = new AudioPlayer();
        this.audio.addEventListener(AudioPlayer.EVENT.LOADED, () => {
          this.startWormhole(this.audio.getDuration() * 1000);
        });
        this.audio.addEventListener(AudioPlayer.EVENT.ENDED, () => {
          this.$router.replace('/standby');
        });
        this.audio.load(`${this.rootPath}/${this.compositeKey}_${this.appController._languageCode}.mp3`,
          AudioPlayer.AUTOSTART_TYPE.NORMAL);
        // TODO: Listen for playback position and set it to the jitter animation
        // TODO: Check if current artefact has an introduction and play a different start animation
      }
    },
    mounted() {
      console.log(this.compositeKey);
      window.tizen.filesystem.resolve('documents',
        (dir) => {
          this.rootPath = `${dir.toURI()}/../stations`;
          this.onAsyncReady();
        } // TODO: Check if directory exists.
        , (e) => {
          console.log(e);
          throw new Error('Could not resolve Files directory.'); // TODO: Handle this in the ErrorGrinder with Custom catchabe error
        });

    },
    beforeDestroy() {
      this.audio.unload();
    }
  };
</script>

<style scoped>
  .wormhole {
    width: 362px;
    height: 362px;
    transform: scale(0);

    border-radius: 50%;

    background: white;
    box-shadow: 0 0 10px white;
    /*filter: blur(.5px);*/
  }
</style>
