html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	font-size: 36px;
}

* {
	/* Hide overflow on all elements */
	overflow: hidden;
	/*Source: https://developer.tizen.org/ko/forums/web-application-development/gear-tags-onclick-are-highlighted-orange?langredirect=1*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.no-select {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.fullscreen {
	width: 100%;
	height: 100%;
}

.free {
	background: #aed581;
	transition: background 0.3s ease-in-out;
}

.blocked {
	background: #e57373;
}

.center__wrapper {
	position: relative;
}

.center__content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#text{
	font-family:Arial;
	text-align:center;
	width:75%;
}