<template>
  <div class="full-height" id="browserApp">
    <smartwatch-emulator ref="emu" @click.native.self="">
      <universal-app ref="universalApp" @ready="appReady"></universal-app>
    </smartwatch-emulator>
    <div id="controls">
      <!-- TODO: Add Controls -->
      <input type="text"/>
    </div>
  </div>
</template>

<script>
  import UniversalApp from '@/UniversalApp';
  import SmartwatchEmulator from '@/components/SmartwatchEmulator';

  export default {
    components: {
      SmartwatchEmulator,
      UniversalApp
    },
    data() {
      return {
        stations: [{ title: 'xcdy' }]
      };
    },
    methods: {
      appReady(container) {
        //this.stations = container.getStoryController.getStationsManager().getStations();
      }
    },
    created() {
      console.log('Created: BrowserApp');
    }
  };
</script>

<style scoped>
  #browserApp {

  }

  #controls {
    position: absolute;
    bottom: 0;
  }
</style>
