<template>
  <div class="full-height" id="tizenApp">
    <universal-app></universal-app>
  </div>
</template>

<script>
  import UniversalApp from '@/UniversalApp';

  export default {
    components: { UniversalApp },
    data() {
      return {};
    },
    methods: {},
    mounted() {
    }
  };
</script>

<style scoped>
  #tizenApp {

  }
</style>
