<template>
  <div id="demo-app" class="full-height">
      <router-view></router-view>
  </div>
</template>

<script>
  import SmartwatchEmulator from '../../../components/SmartwatchEmulator';

  export default {
    components: { SmartwatchEmulator },
    data() {
      return {};
    },
    methods: {},
    mounted() {
    }
  };
</script>

<style scoped>
  #demo-app {

  }
</style>
