#<template>
    <div id="settings" class="full-height center-content">
      <div class="center-content__content-wrapper__both text-overflow">
        <div>Settings</div>
      </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {};
    },
    methods: {},
    mounted() {
    },
  };
</script>

<style scoped>
    #settings {

    }
</style>
