<template>
  <div id="backend3000" class="full-height"> <!-- @click="$router.push({name:'Backend.Settings'})"-->
    <h1>Backend 3000</h1>
    <router-view></router-view>
  </div>
</template>

<script>
  import JsonRetriever from './js/JsonRetriever';

  export default {
    data() {
      return {};
    },
    methods: {
      test() {
        /*
         JsonRetriever.getStations(JsonRetriever.STATIONS_JSONS.STATIONS).then((stations) => {
         console.log(stations);
         this.audioPlayer = new AudioPlayer();
         const firstPrimeStation = stations.content[0];
         const firstSubStation = firstPrimeStation['sub-stations'][0];
         const localesManager = new PrimitiveLocalesManager();
         localesManager.setLocales(firstPrimeStation.locales);
         const filePath = `static/_files/stations/${firstPrimeStation.id} - ${localesManager.getDefault('title')
         .toLowerCase()}/${firstSubStation.id}_de.mp3`;
         console.log(filePath);
         this.audioPlayer.load(filePath);//, AudioPlayer.AUTOSTART_TYPE.NORMAL);
         });
         */
      },
    },
    mounted() {
      this.test();
    }
  };
</script>

<style scoped>
  #backend3000 {

  }

  h1{
    border-left:8px solid white;
    padding-left: .5em;
  }
</style>
