$default_primary_color: #FFCB05;
$default_secondary_color: #22405A;
$default_background_color: black;

:export {
  defaultPrimaryColor: $default_primary_color;
  defaultSecondaryColor: $default_secondary_color;
  defaultBackgroundColor: $default_background_color;
}
