<template>
  <div id="playback-test">
    <h2>Stationen</h2>
    <p><span :class="[currentLanguageCode===LANGUAGE_CODE.DE ? 'active-language' :'']" @click="changeLanguage(LANGUAGE_CODE.DE)">DE</span>/<span
      :class="[currentLanguageCode===LANGUAGE_CODE.DA ? 'active-language' :'']" @click="changeLanguage(LANGUAGE_CODE.DA)">DA</span></p>
    <ul>
      <li v-for="group in groups">{{localesManagersOfStations[group.id].get('title')}}
        <ul>
          <li v-for="station in group.subStations" @click="play(station)">
            [{{station.getVisited()
            ? 'x'
            : ' '}}] {{localesManagersOfStations[station.getCompositeKey()].getOrSomething(
            'title', '[No title for this language.]')}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
  // import HttpClient from '../../js/helpers/HttpClient';

  import stationsJson from '../../_res/_json/stations/stations.json';
  import stationsBezelCodesJson from '../../_res/_json/stations/stations_bezel_codes.json';

  import storyNodesJson from '../../_res/_json/story/story_nodes.json';
  import storyFlowJson from '../../_res/_json/story/story_flow.json';
  import storyKeyframesJson from '../../_res/_json/story/story_keyframes.json';
  import StationsParser from '../../js/story_driven_logic/stations/v1_0/StationsParser';
  import StationsManager from '../../js/story_driven_logic/stations/v1_0/StationsManager';
  import StoryParser from '../../js/story_driven_logic/story/v1_0/StoryParser';

  import LocalesManager from '../../../../js/primitives/PrimitiveLocalesManager';
  import StoryManager from '../../js/story_driven_logic/story/v1_0/StoryManager';
  import { NODE_TRIGGERS } from '../../js/story_driven_logic/story/v1_0/StoryConstants';
  import TypeSafeValue from '../../js/helpers/type_safety/TypeSafeValue';
  import ValueTypes from '../../js/helpers/type_safety/ValueTypes';
  import TypeChecker from '../../js/helpers/type_safety/TypeChecker';
  import Class from '../../js/helpers/type_safety/Class';
  import { typeCheck } from 'type-check';
  import MultipleTypesDict from '../../js/helpers/type_safety/MultipleTypesDict';
  import TypeSafeContainer from '../../js/helpers/type_safety/TypeSafeContainer';
  import howler from 'howler';
  import PathBuilder from '../../js/PathBuilder';
  import * as Constants from '../../js/Constants';
  import PrimitiveKeyframesManager from '../../../../js/primitives/PrimitiveKeyframesManager';
  import { LANGUAGE_CODE } from '../../js/Constants';
  import * as STORY_CONSTANTS from '../../js/story_driven_logic/story/v1_0/StoryConstants';

  export default {
    data() {
      return {
        asyncObjects: [stationsJson, stationsBezelCodesJson, storyNodesJson, storyFlowJson, storyKeyframesJson],
        stationsManager: null,
        groups: [],
        stations: [],
        localesManagersOfStations: {},
        currentLanguageCode: Constants.LANGUAGE_CODE.DA,
        currentAudio: null,
        currentStation: null,
        LANGUAGE_CODE
      };
    },
    methods: {
      togglePlay() {

      },
      play(station) {
        if (this.currentAudio) {
          this.currentAudio.stop();
          this.currentStation.setVisited(true);
          this.$forceUpdate();
        }
        this.currentAudio = new Howl({
          src: new PathBuilder('static/').getPathOfAudioForStation(station, this.currentLanguageCode),
          html5: true,
          autoplay: true
        });
        this.currentStation = station;
      },
      next() {

      },
      changeLanguage(code) {
        if (code !== this.currentLanguageCode) {
          this.currentLanguageCode = code;

          this.localesManagersOfStations = this.stationsManager.getLocalesManagersForAll(code);
        }
      },
      markAsVisited(station) {
        const stationRef = station;
        stationRef.visited = true;
      },
      onAsyncReady() {
        if (this.asyncObjects.filter(obj => !obj).length === 0) {
          const stationsParser = new StationsParser();
          stationsParser.parse(stationsJson);
          console.log(stationsParser.getLocales())
          const stationsManager = new StationsManager(stationsParser.getGroups(), stationsParser.getLocales());
          this.groups = stationsManager.getStationGroups();
          this.stations = stationsManager.getAllStations();
          this.localesManagersOfStations = stationsManager.getLocalesManagersForAll(this.currentLanguageCode);
          console.log(this.localesManagersOfStations);
          this.stationsManager = stationsManager;

          // Parse story
          const storyParser = new StoryParser();
          storyParser.parse(storyNodesJson, storyFlowJson, storyKeyframesJson);
          const story = storyParser.getStory();
          const storyManager = new StoryManager(story);
          console.log(storyManager.start());
          storyManager.getKeyframesManager()
                      .addEventListener(PrimitiveKeyframesManager.EVENTS.ON_SPECIAL_KEYFRAME, (keyframe) => {
                        console.log('triggered keyframe', keyframe.atSpecial);
                      });
          console.log(storyManager.getKeyframesManager());
          storyManager.getKeyframesManager().getSpecialKeyframe(STORY_CONSTANTS.SPECIAL_KEYFRAMES.END);
          // Initialize SDL
        }
      },
      valuesTest() {
        //console.log(ValueTypes.BOOLEAN === ValueTypes.STRING);
        /*const xhr = new TypeSafeValue(new XMLHttpRequest());
         console.log(xhr);
         console.log(xhr.getOrSomething('fsd'));
         */

        console.log(TypeChecker.ensure(true, Boolean));
        console.log(new TypeSafeValue(Object).isType(Class));
        console.log(ValueTypes.isType(1));
        console.log('type check:', typeCheck(XMLHttpRequest.name, new XMLHttpRequest()));
        console.log(typeof 'dsfsdf');
        console.log(new TypeSafeValue(0).get(Number));

        const multipleTypesDict = new MultipleTypesDict();
        multipleTypesDict.set('number', 5);
        multipleTypesDict.set('string', true);
        multipleTypesDict.set('forcedNumber', 10, Number);
        //multipleTypesDict.set('forcedBoolean', 'true', Boolean);
        console.log('number', multipleTypesDict.isType('number', Number));
        console.log('is true a string?', multipleTypesDict.isType('string', String));
        console.log('is true a string and when not give me something else?',
          multipleTypesDict.getOrSomething('string', Boolean, false));
        console.log('is true a boolean?', multipleTypesDict.isType('string', Boolean));

        const json = `{
          "at": 33,
          "commands": {
            "view": "uei",
            "transitionToView": "none",
            "loadOs": true
          }
        }`;
        const rawDict = JSON.parse(json);
        const jsonValuesHolder = new MultipleTypesDict(rawDict);
        console.log(jsonValuesHolder.get('at', Number));
        TypeSafeContainer.checkAllDictElements(rawDict, Number);
      }
    },
    mounted() {
      this.onAsyncReady();
      //this.valuesTest();
    }
  };
</script>

<style scoped>
  #playback-test {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

  h2, h3 {
    text-align: left;
  }

  .active-language {
    font-weight: bold;
    text-decoration: underline;
  }

  /*
  button{
    border-radius: 5px;
    outline:none;
    text-shadow: 2px 2px 5px black;
  }
  */
</style>
