<template>
  <div class="second-page-wrapper">
    <div class="cover">
      <img class="image-reset" src="../../assets/img/splashscreen_cover_1.jpg">
    </div>
    <p class="title">
      Landschaftsmuseum<br> Angeln/Unewatt<br> <span class="small">Audioguide</span>
    </p>
  </div>
</template>

<script>
  import ViewMixins from '../../mixins/ViewMixin';
  import AudioPlayer from '../../js/media/AudioPlayer';

  const jingle = require('@/assets/audio/splashscreen_jingle.mp3');

  export default {
    //mixins: [ViewMixins],
    data() {
      return {
        jinglePlayer: null
      };
    },
    mounted() {
      const jinglePlayer = new AudioPlayer();
      jinglePlayer.load(jingle, AudioPlayer.AUTOSTART_TYPE.NORMAL);
      jinglePlayer.addEventListener(AudioPlayer.EVENT.ENDED, () => {
        console.log('Jingle ended!');
        this.$router.replace('/standby');
      });

      this.jinglePlayer = jinglePlayer;
    },
    methods: {},
    beforeDestroy() {
      this.jinglePlayer.unload();
    }
  };
</script>

<style scoped>
  .second-page-wrapper {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .cover {
    height: 275px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    filter: saturate(1.5);
  }

  .cover img {
    width: 110%;
    transform: translate(-35px, -10px);
  }

  .scale {
    transform: scale(1.5);
  }

  .title {
    padding-top: 10px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: #22405A;
    background: #FFCB05;
    height: 100%;
    z-index: 9999;
  }

  .small {
    font-size: 14px;
    font-weight: normal;
    color: black;
  }
</style>
