<template>
  <div id="setup" class="full-height">
    <transition name="fade">
      <div v-if="state==states.LANGUAGE" class="full-height center" key="language">
        <slider :page-container='pageContainer' @selected="languageSelected" ref="slider">
        </slider>
      </div>
    </transition>
  </div>
</template>

<script>
  import Slider from './Slider';

  const FLAG_CONFIRM = require('@/assets/img/flag_confirm.png');
  const FLAG_UK_USA = require('@/assets/img/flag_uk_usa.png');
  const FLAG_DENMARK = require('@/assets/img/flag_denmark.png');
  const FLAG_GERMANY = require('@/assets/img/flag_germany.png');

  const FLAGS = {
    CONFIRM: FLAG_CONFIRM,
    UK_USA: FLAG_UK_USA,
    DENMARK: FLAG_DENMARK,
    GERMANY: FLAG_GERMANY
  };
  // import UneViewMixin from '@/other/UneViewMixin';
  export default {
    // mixins: [UneViewMixin],
    data() {
      return {
        requestHeadsetInstallation: {
          de: 'Bitte setze das Headset auf.',
          en: 'Please put the headset on.',
          da: 'Venligst sætte headsettet på.'
        },
        requestSound: {
          de: 'Drücke auf den Button.',
          en: 'Press the Button.',
          da: 'Tryk på knappen.'
        },
        couldYouHearSomething: {
          de: 'Konntest du den Ton hören?',
          en: 'Could you hear the sound?',
          da: 'Kan du høre lyden?'
        },
        successMessage: {
          de: 'Einrichtung erfolgreich abgeschlossen.',
          en: 'Setup successfully completed.',
          da: 'Opsætning med succes afsluttet.'
        },
        /* sound: new Howl({
         src: [require('@/assets/audio/headset_confirm_sound.mp3')],
         _volume: 0,
         }), */
        pageContainer: null,
        flags: {
          pages: {
            de: {
              caption: 'Deutsch',
              img: FLAGS.GERMANY
            },
            en: {
              caption: 'English',
              img: FLAGS.UK_USA
            },
            da: {
              caption: 'Dansk',
              img: FLAGS.DENMARK
            }
          },
          startPage: 'de'

        },
        ok: {
          ok: {
            name: 'ok',
            caption: ' ',
            img: FLAGS.CONFIRM
          }
        },
        headsetState: 0,
        showOkButton: false,
        confirmSound: false,
        confirmTimeout: null,
        states: {
          LANGUAGE: 0,
          HEADSET: 1,
          END: 2
        },
        headsetStates: {
          PUT_ON: 0,
          SOUND: 1
        },
        languageToBeConfirmed: '',
        state: null
      };
    },
    methods: {
      languageSelected(lang) {
        if (lang.name === 'ok') {
          this.$router.replace({ name: 'DemoApp_Splashscreen' });
        } else {
          // Show confirm dialog
          const flags = this.flags;
          this.ok.ok.caption = lang.caption;
          Object.assign(flags.pages, this.ok);
          this.pageContainer = flags;
          this.pageContainer.startPage = this.ok.ok.name;
          this.$refs.slider.refreshPages();
          this.languageToBeConfirmed = lang.name;
        }
      },
      setState(state) {
        this.state = state;
        switch (this.state) {
          case this.states.HEADSET:
            setTimeout(() => {
              this.showOkButton = true;
            }, 3000);
            break;
          case this.states.END:
            setTimeout(() => {
              this.$emit('open-view', 'splashscreen');
            }, 2000);
            break;
        }
      }
    },
    mounted() {
      this.setState(this.states.LANGUAGE); // Always change this back to LANGUAGE

      this.pageContainer = this.flags;
    },
    components: { Slider }
  };
</script>

<style lang="scss" scoped>
  @import '../../../../scss/colors';

  #setup {
    background: $default_secondary_color;
  }

  .button {
    background: #fff;
    border-radius: 50% 50%;
    padding: 20px;
  }

  .small-button {
    background: $default_primary_color;
    border-radius: 50% 50%;
    padding: 10px;
  }

  .frame {
    background: $default_primary_color;
    padding: 20px;
  }
</style>
