<template>
  <div id="touchEvent">
    <v-touch @tap="console.log('SDfs')">
      TouchEvent4
    </v-touch>
  </div>
</template>

<script>
  export default {
    data() {
      return {};
    },
    methods: {},
    mounted() {
    }
  };
</script>

<style scoped>
  #touchEvent {

  }
</style>
