html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.full-height {
  height: 100%;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

img:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
}

#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.screen {
  width: 360px;
  height: 360px;
  min-width: 360px;
  min-height: 360px;
  -webkit-clip-path: circle(50% at center);
  clip-path: circle(50% at center);
  overflow: hidden;
  background: #f5f5f5;
  box-sizing: border-box;
}

.screen.border {
  min-width: 385px;
  min-height: 385px;
  background: #304352;
  background: -webkit-linear-gradient(to top, #304352, #d7d2cc);
  background: -webkit-linear-gradient(bottom, #304352, #d7d2cc);
  background: linear-gradient(to top, #304352, #d7d2cc);
  padding: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-center.horizontal {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center.vertical {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  position: absolute;
  width: 100%;
}

.show {
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.hide {
  opacity: 0;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.center.horizontal {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 auto;
}

.center.vertical {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.center.both {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.template {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 40px;
  box-sizing: border-box;
}

.unsupported {
  color: lightgrey;
}

.inline {
  display: inline;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
