<template>
  <div id="app" class="no-select">
    <!--<router-view/>-->
    <router-view/>
  </div>
</template>

<script>
  import 'normalize.css';
  import TizenApp from '@/platform_dependent_app_wrappers/TizenApp';
  import BrowserApp from '@/platform_dependent_app_wrappers/BrowserApp';
  import PlatformDetector from './js/platform_bridges/PlatformDetector';

  export default {
    name: 'app',
    data() {
      return {
        error: false,
        PLATFORMS: {
          TIZEN_WEARABLE: 'tizenWearable',
          BROWSER_SERVED: 'browserServed',
          BROWSER_OFFLINE: 'browserOffline'
        },
        platformDependentAppWrapperComponent: null
      };
    },
    methods: {
      setPlatformDependentAppWrapper() {
        this.setComponent(PlatformDetector.detect() ===
        PlatformDetector.PLATFORMS.TIZEN_WEARABLE ? TizenApp : BrowserApp);
      },
      setComponent(c) {
        this.platformDependentAppWrapperComponent = c;
        this.$nextTick(() => {
          this.componentChanged();
        });
      },
      componentChanged() {
        //console.log(this.$refs.c.$options.usesMixin('ViewMixin'));
      }
    },
    mounted() {
      console.log('Mounted: App');
      window.ondragstart = () => false; // Prevent draggable images

      // Global Event Handler for uncatched Errors
      window.addEventListener('error',
        (message, file, lineNumber, colNumber, error) => {
          //TODO: Optimize for better Event handling (log file, error codes...)
          this.error = true;
        }
      );
      //logger.info('test'); TODO: Use custom Logger4

      this.setPlatformDependentAppWrapper();
    },
    beforeDestroy() {

    }
  };
</script>

<style>
  html, body {
    /* Not really necessary because normalize.css includes this*/
    width: 100%;
    height: 100%;
  }

  body {
    background: #f8f8f8;
    padding: 0;
    margin: 0;

    overflow: hidden;
  }

  #app {
    width: 100%;
    height: 100%;
    /* Force hardware acceleration */
    transform: translate3d(0, 0, 0);

    color: white;
    background: black;
    /*For readability the default font size should be: */
    font-size: 30px;

    /* Testing the font import */
    font-family: Roboto, Arial, sans-serif;

    clip-path: circle(50% at center);

    /* TODO: Put this in a component, so that the text in the slot has a shadow based on its color */
    /*text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7); */
  }

  * {
    /* Hide overflow on all elements */
    overflow: hidden;

    /*Source: https://developer.tizen.org/ko/forums/web-application-development/gear-tags-onclick-are-highlighted-orange?langredirect=1*/
    /* TODO: Provide custom feedback when needed*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  /* Source: https://css-tricks.com/almanac/properties/u/user-select/ */
  .no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */

  }

  /* Source: https://css-tricks.com/almanac/properties/u/user-select/ */
  .force-select {
    -webkit-user-select: all; /* Chrome 49+ */
    -moz-user-select: all; /* Firefox 43+ */
    -ms-user-select: all; /* No support yet */
    user-select: all; /* Likely future */
  }

  /* Source: https://stackoverflow.com/a/32548403 */
  .force-drag {
    -webkit-user-drag: auto;
    -khtml-user-drag: auto;
    -moz-user-drag: auto;
    -o-user-drag: auto;
    user-drag: auto;
  }

  /* Source: https://stackoverflow.com/a/32548403 */
  .no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  /* TODO: Put this in helpers.css */
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .image-reset, .inner-img {
    max-width: none;
    max-height: none;
  }
</style>

/* Global SCSS imports*/
<style lang="scss">
  /* Fonts*/
  @import 'assets/fonts/Phenomena/stylesheet.css';
  @import 'assets/fonts/Roboto/stylesheet.css';
  @import 'assets/fonts/MaterialIcons/stylesheet.css';
  @import '~font-awesome/css/font-awesome.css';
  /* Other */
  @import '~materialize-css/sass/components/_color.scss';
  @import 'scss/helpers';

</style>
