<template>
  <div id="universalApp" class="full-height">
    <!--<view-container ref="viewContainer"></view-container>-->
    <router-view @view-message="onViewMessage" :app-controller="appController"></router-view>
  </div>
</template>

<script>
  import ViewContainer from '@/components/ViewContainer';
  import AppController from './js/AppController';
  import RouteController from './js/RouteController';
  //import PlatformDetector from './js/platform_bridges/PlatformDetector';

  export default {
    components: { ViewContainer },
    props: ['platform'],
    data() {
      return {
        appController: null,
        viewContainer: null
      };
    },
    methods: {
      onViewMessage(evt) {
        console.log(evt);
        switch (evt.view) {
          case 'UnewatchOS':
            switch (evt.message) {
              case 'loaded':
                this.$router.replace({ path: '/setup' });
                break;
              default:
            }
            break;
          case 'Setup':
            switch (evt.message) {
              case 'language-set':
                this.$router.replace({ path: '/splashscreen' });
                break;
              default:
            }
            break;
          default:
        }
      },
      /**
       * Initialize App
       */
      init() {
        this.appController = new AppController();
      },
      /**
       * Gets called when the AppController and so the Container is fully initialized
       */
      ready() {
        const routeController = this.appController.getContainer().getRouteController();
        routeController.addEventListener(RouteController.EVENTS.BEFORE_ROUTE_CHANGE, this.onBeforeRouteChange);
        routeController.addEventListener(RouteController.EVENTS.ROUTE_CHANGE_PERMITTED, this.onRouteChanged);
      },
      onBeforeRouteChange(from, to, next) {
        // TODO: Manage Route changes centralized
        switch (from) {
          case 'unewatch_os':
            console.log(typeof this.viewContainer.getView());
            // Get name of current view in router-view: this.$children[n].constructor.options.name
            /*
             if(this.currentView.xy()){ //Check a condition
             next('abc') // Route to conditional route
             }
             */
            //next();
            break;

          default:
            // TODO: ...
            next();
        }
      },
      onRouteChanged(from, to) {
        console.log(to);
        this.currentView = this.$refs.view;
      },
      unload() {
        //this.appController.unload();
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.init();
      });
    },
    beforeDestroy() {
      this.unload();
    }
  };
</script>

<style scoped>
  #universalApp {

  }
</style>
