<template>
  <div class="full-height">
    <div class="buttons-wrapper">
      <div>
        <div class="button button__menu">
          <div class="center-content__content-wrapper__both"><i class="fa fa-bars fa-5x" aria-hidden="true"
                                                                @click="onMenuButton"></i>
          </div>
        </div>
      </div>
      <div>
        <div class="button button__time-machine">
          <div class="center-content__content-wrapper__both">
            <i class="fa fa-clock-o fa-5x" aria-hidden="true" @click="onTimeTravelButton">
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Menu from './Menu';
  import BezelInput from './BezelInput';

  export default {
    data() {
      return {};
    },
    methods: {
      onMenuButton() {
        alert('Not implemented.');
      },
      onTimeTravelButton() {
        console.log('Switch to Time Machine');
        //this.$emit('view-event', 'openBezelInput');
        this.$router.push('/standby-bezel-input');
      }
    },
    mounted() {
    },
    components: { 'main-menu': Menu, BezelInput }
  };
</script>

<style lang="scss" scoped>
  .buttons-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    font-size: 18px;
    > * {
      display: table-row;

      &:after {
        content: "";
      }
    }
  }

  .button {
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    color: white;
    &__menu {
      background: white;
      color: black;
    }

    > *:active {
      color: #f44336;
    }
  }
</style>
