<template>
  <div id="play" class="expand-vertically">
    <div class="full-height" style="width:120%; height:120%;background: white;">

    </div>

    <button @click="togglePlayback" type="button" class="play-button">
      <i aria-hidden="true" class="material-icons big-icon"
      >{{icon}}</i>
    </button>
    <!--
        <button @click="back" type="button" class="back-button">
          <i aria-hidden="true" class="material-icons">arrow_back</i>
        </button>
        -->
  </div>
</template>

<script>
  import AudioPlayer from '../../../Backend3000/js/media/AudioPlayer';

  export default {
    name: 'play',
    props: ['lang'],
    data() {
      return {
        icon: 'play_arrow',
        audioPlayer: new AudioPlayer(),
        filesPath: ''

      };
    },
    methods: {
      back() {
        this.$router.back();
      },
      isPlaying() {
        return this.audioPlayer.isPlaying();
      },
      togglePlayback() {
        if (this.isPlaying()) {
          this.pause();
        } else {
          this.play();
        }
      },
      play() {
        if (!this.isPlaying()) {
          this.icon = 'pause';
          this.audioPlayer.play();
        }
      },
      pause() {
        if (this.isPlaying()) {
          this.icon = 'play_arrow';
          this.audioPlayer.pause();
        }
      },
      loadSound(type, key) {
        const path = `${this.filesPath}/story/intro/1_${this.lang}.mp3`;

        console.log(path);
        this.audioPlayer.load(path, AudioPlayer.AUTOSTART_TYPE.NORMAL);
        this.togglePlayback();
      },
      generateStoryWhateverPath(node) {
        return `${this.filesPath}story/${node.replace(/\./g, '/')}`;
      },
      generateStoryAudioPath(node) {
        return `${this.generateStoryWhateverPath(node)}_${this.lang}.mp3`;
      },
      generateStationWhateverPath(station) {
        return `${this.filesPath}stations/${station.replace(/\./g, '/')}`;
      },
      generateStationAudioPath(station) {
        return `${this.generateStationWhateverPath(station)}_${this.lang}.mp3`;
      },

      asyncReady() {
        this.loadSound(this.type, this.partKey);
      }
    },
    mounted() {
      /*
       if (PlatformController.detectCurrentPlatform() ===
       PlatformController.SUPPORTED_PLATFORMS.TIZEN_WEARABLE) {
       const tpc = new TizenPlatformController();
       tpc.resolve('Sounds', (path) => {
       this.filesPath = `${path}/Unewatch/`;
       this.asyncReady();
       });
       tpc.addEventListener(TizenPlatformController.EVENTS.BACK_KEY_PRESSED, () => {
       this.back();
       });
       } else {
       */
      this.filesPath = './static/_files/';
      this.asyncReady();
      /*
       }
       */
    },
    activated() {
      console.log('Play type: ' + this.type + '\nID: ' + this.partKey);
      if (this.filesPath.length > 0) {
        this.asyncReady();
      }
    },
    deactivated() {
      if (this.audioPlayer) {
        this.audioPlayer.unload();
      }
    },
    beforeDestroy() {
      if (this.audioPlayer) {
        this.audioPlayer.unload();
      }
    },
    beforeRouteUpdate(from, to, next){
      console.log('Changed route!');
    }
  };
</script>

<style>
  #play {

  }

  .play-button {
    width: 180px;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    font-family: inherit;
    font-size: 20px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: 500;
    letter-spacing: inherit;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    background-color: rgba(76, 175, 80, 0.9);
    background-clip: padding-box;
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    color: rgba(255, 255, 255, .87);
    outline: none;
    position: absolute;
    opacity: .95;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .back-button {
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    font-family: inherit;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: 500;
    letter-spacing: inherit;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.14), 0 2px 12px 2px rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    background-color: rgba(173, 101, 108, 1);
    background-clip: padding-box;
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    color: rgba(255, 255, 255, .87);
    outline: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .big-icon {
    font-size: 6em;
    line-height: 1.5em;
  }
</style>
