<template>
  <v-touch class="full-height" @swipeleft="next" @swiperight="previous">
    <div class="dots dotstyle dotstyle-fillup">
      <ul>
        <li v-for="(page, index) in pages" v-bind:class="{ current: index==activePage }"
            @click="activePage=index"><a>{{page.name}}</a></li>
      </ul>
    </div>
    <v-touch v-if="activePage>-1"
             style="position: absolute;left:50%;top:75px;transform: translate(-50%,0)"
             @tap="choose(pages[activePage])">
      <div class="full-height" style="height:200px">
        <img style="" :src="pages[activePage].img"></div>
      <p style="font-weight:500; margin-top: 10px;font-size:25px;text-align:center">{{pages[activePage].caption}}</p>
    </v-touch>
  </v-touch>
</template>

<script>
  export default {
    props: ['pageContainer'],
    data() {
      return {
        pages: null,
        activePage: -1,
      };
    },
    methods: {
      choose(page) {
        console.log('Sdfds')
        this.$emit('selected', page);
      },
      previous() {
        if (this.activePage === 0) {
          this.activePage = this.pages.length - 1;
        } else {
          this.activePage--;
        }
      },
      next() {
        if (this.activePage === this.pages.length - 1) {
          this.activePage = 0;
        } else {
          this.activePage++;
        }
      },
      refreshPages() { //TODO: Make this automatically rfreshing when prop changes
        this.pages = Object.keys(this.pageContainer.pages).map((e) => {
          console.log(e);
          const page = this.pageContainer.pages[e];
          page.name = e;
          return this.pageContainer.pages[e];
        });
        //console.log(this.pages)

        this.pages.forEach((value, index) => {
          if (value.name === this.pageContainer.startPage) {
            this.activePage = index;
          }
        });
      },
    },
    mounted() {
      this.refreshPages();
    },
  };
</script>

<style scoped>
  .dots {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
  }

  /* Fill up */

  .dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
  }

  .dotstyle li {
    position: relative;
    display: block;
    float: left;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  .dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    cursor: pointer;
    /* make the text accessible to screen readers */
    position: absolute;
  }

  .dotstyle-fillup li a {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }

  .dotstyle-fillup li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1px #fff;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }

  .dotstyle-fillup li a:hover,
  .dotstyle-fillup li a:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .dotstyle-fillup li.current a::after {
    height: 100%;
  }
</style>
