.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-overflow {
  overflow: visible;

  > * {
    overflow: visible;
  }
}

.center-self--horizontally {
  margin: auto 0;
}

.center-content {
  position: relative;
}

.center-content__content-wrapper__horizontally {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.center-content__content-wrapper__vertically {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.center-content__content-wrapper__both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
